---
import LanguageButton from "../ui/LanguageButton.astro";
import javascriptLogo from "@/assets/images/javascript-logo.png";
import typescriptLogo from "@/assets/images/typescript-logo.png";
import htmlLogo from "@/assets/images/html-logo.png";
import cssLogo from "@/assets/images/css-logo.png";
import scssLogo from "@/assets/images/scss-logo.png";
import pythonLogo from "@/assets/images/python-logo.png";
import javaLogo from "@/assets/images/java-logo.png";
import discordjsLogo from "@/assets/images/discord-js-logo.png";
import discordpyLogo from "@/assets/images/discord-py-logo.png";
import vueLogo from "@/assets/images/vue-logo.png";
import astroLogo from "@/assets/images/astro-logo.png";
import expressLogo from "@/assets/images/express-logo.png";
import electronLogo from "@/assets/images/electron-logo.png";
import fastifyLogo from "@/assets/images/fastify-logo.png";
import mongodbLogo from "@/assets/images/mongodb-logo.png";
---

<div id="about">
  <div class="about-description">
    <h2>About</h2>
    <p class="border">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
      sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="technologies">
    <div class="languages">
      <h3>Languages</h3>
      <div class="technologies-buttons">
        <LanguageButton 
          title="Typescript" 
          logo={typescriptLogo} 
          link="https://www.typescriptlang.org/" 
        />
        <LanguageButton 
          title="Javascript" 
          logo={javascriptLogo} 
          link="https://developer.mozilla.org/en-US/docs/Web/JavaScript/" 
        />
        <LanguageButton 
          title="Python" 
          logo={pythonLogo} 
          link="https://www.python.org/" 
        />
        <LanguageButton 
          title="HTML" 
          logo={htmlLogo} 
          link="https://developer.mozilla.org/en-US/docs/Web/HTML/"
        />
        <LanguageButton 
          title="CSS" 
          logo={cssLogo} 
          link="https://developer.mozilla.org/en-US/docs/Web/CSS/"
        />
        <LanguageButton 
          title="SCSS" 
          logo={scssLogo} 
          link="https://sass-lang.com/"
        />
        <LanguageButton 
          title="Java" 
          logo={javaLogo} 
          link="https://www.java.com/"
        />
      </div>
    </div>
    <div class="frameworks">
      <h3>Frameworks<span class="slash">/</span>technologies</h3>
      <div class="technologies-buttons">
        <LanguageButton
          title="Vue"
          logo={vueLogo}
          link="https://vuejs.org/"
        />
        <LanguageButton
          title="Astro"
          logo={astroLogo}
          link="https://astro.build/"
        />
        <LanguageButton
          title="Discordjs"
          logo={discordjsLogo}
          link="https://discord.js.org/"
        />
        <LanguageButton
          title="Discordpy"
          logo={discordpyLogo}
          link="https://discordpy.readthedocs.io/en/stable/"
        />
        <LanguageButton
          title="Express"
          logo={expressLogo}
          link="https://expressjs.com/"
        />
        <LanguageButton
          title="Fastify"
          logo={fastifyLogo}
          link="https://fastify.dev/"
        />
        <LanguageButton
          title="Electron"
          logo={electronLogo}
          link="https://www.electronjs.org/"
        />
        <LanguageButton
          title="MongoDB"
          logo={mongodbLogo}
          link="https://www.mongodb.com"
        />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  #about {
    display: flex;
    margin-top: 2rem;
    gap: 4rem;
    margin-bottom: 4rem;
    > div {
      flex: 1;
    }
  }

  .about-description > p {
    padding: 2rem;
  }

  .technologies {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .technologies-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }

  .slash {
    margin: 0 0.25rem;
  }
</style>